{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="height: 150px"></div>
<div class="row">
    <div class="text-center title">Sign in</div>
</div>
<div style="height: 30px;"></div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form class="form-horizontal" name="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" value="{{username}}" placeholder="Username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Password">
            </div>
            <div style="height: 40px"></div>
            <div class="text-center">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}