{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="height: 150px"></div>
<div class="row">
    <div class="text-center title">Sign up</div>
</div>
<div style="height: 30px;"></div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% if form.errors %}
        <p>Something went wrong. Please try again.</p>
        {% endif %}
        <form class="form-horizontal" name="signup-form" action="{% url 'signup' invite_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" value="{{username}}" placeholder="Username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password1">Password</label>
                <input class="form-control" type="password" id="password1" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password2">Confirm password</label>
                <input class="form-control" type="password" id="password2" name="password2" placeholder="Confirm password">
            </div>
            <div style="height: 40px"></div>
            <div class="text-center">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}