{% extends 'base.html' %}
{% load static %}

{% block topbar %}
<a class="btn btn-default pull-right" href="{% url 'logout' %}" role="button">Logout</a>
{% endblock %}

{% block content %}
<div class="row" style="height: 150px"></div>
<div class="row">
    <div class="text-center title">Grant invite</div>
</div>
<div style="height: 30px;"></div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% if form.errors %}
        <p>Invalid or empty email. Just fix it and try again.</p>
        {% endif %}
        <form class="form-horizontal" name="grant-invite-form" action="{% url 'grant-invite' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="{{email}}" placeholder="Email">
            </div>
            <div style="height: 40px"></div>
            <div class="text-center">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}