{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="height: 150px"></div>
<div class="row">
    <div class="text-center title">{{ message }}</div>
</div>
<div style="height: 70px;"></div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="text-center">
            <a class="btn btn-default" href="{% url 'index' %}" role="button">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}