@import url('https://fonts.googleapis.com/css?family=Roboto|Merienda+One');

html, body {
    font-family: 'Roboto', sans-serif, arial !important;
    height: 100%;
    margin: 0;
    font-smoothing: antialiased !important;
}

.title {
    font-size: 32px;
}

a.deco-none {
    color: inherit !important;
    text-decoration: none !important;
}

div {
    display: block;
}

body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

div.top-bar {
    position: absolute;
    width: 100%;
    height: 32px;
    top: 0px;
    padding: 10px;
}

div.container {
    min-width: 400px;
    position: absolute;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    width: 520px;
}

button:focus {
    outline: none;
}
